#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: blueviolet;
    height: 30px;
    gap: 50px;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color: blue;
}